name: ci

on:
  push:
    branches:
      - staging
  workflow_run:
    workflows:
      - update
    types:
      - completed

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: staging

      - name: Install nix
        uses: cachix/install-nix-action@v16
        with:
          extra_nix_config: access-tokens = github.com=${{ github.token }}

      - name: Set up cachix
        uses: cachix/cachix-action@v10
        with:
          name: nix-community
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Build with nix
        run: |
          pkgs=(.#{{stable,beta,minimal,default,complete}.toolchain,rust-analyzer{,-vscode-extension}})

          nix build "${pkgs[@]}"
          ./test

          nix build --override-input nixpkgs github:nixos/nixpkgs/nixpkgs-unstable "${pkgs[@]}"
          ./test

          nix build .#latest.toolchain
          nix build --override-input nixpkgs github:nixos/nixpkgs/nixpkgs-unstable .#latest.toolchain
