name: merge-staging

on:
  workflow_run:
    workflows:
      - ci
    types:
      - completed

jobs:
  merge-staging:
    name: merge-staging
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Merge staging into main
        run: |
          git pull --ff-only origin staging
          git push
