name: pr

on: pull_request

jobs:
  check:
    name: check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: access-tokens = github.com=${{ github.token }}

      - name: Check formatting
        run: nix run nixpkgs#nixpkgs-fmt --inputs-from . -- {,lib/}*.nix --check

      - name: Set up cachix
        uses: cachix/cachix-action@v16
        with:
          name: nix-community

      - name: Build with nix
        run: |
          nix build .#{{stable,beta,complete}.toolchain,rust-analyzer{,-vscode-extension}}
          ./test
