name: update

on:
  schedule:
    - cron: "0 6 * * *"

jobs:
  update:
    name: update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: staging

      - name: Install nix
        uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - name: Update everything
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "action@github.com"

          nix-shell --run ./update -p "python3.withPackages (ps: [ ps.toml ])"
          nix flake update
          curl -fLSso data/rust-analyzer-vsix.zip \
            https://github.com/rust-analyzer/rust-analyzer/releases/download/nightly/rust-analyzer.vsix || true

          git commit -am "update: rust toolchains, rust analyzer, flake.lock"
          git push
