name: update

on:
  schedule:
    - cron: "0 2 * * *"

jobs:
  update:
    name: update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install nix
        uses: cachix/install-nix-action@v14
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/latest/download/install
          nix_path: nixpkgs=channel:nixpkgs-unstable
          extra_nix_config: experimental-features = flakes nix-command

      - name: Update everything
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "action@github.com"

          nix-shell --run ./update -p "python3.withPackages (ps: [ ps.toml ])"

          nix flake update

          curl -fLSso data/stable.toml https://static.rust-lang.org/dist/channel-rust-stable.toml
          curl -fLSso data/beta.toml https://static.rust-lang.org/dist/channel-rust-beta.toml

          curl -fLSso data/rust-analyzer-vsix.zip \
            https://github.com/rust-analyzer/rust-analyzer/releases/download/nightly/rust-analyzer.vsix || true

          git commit -am "update: rust toolchains, rust analyzer, flake.lock"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ github.token }}
          branch: main
